/* .hero {
  display: flex;
  align-items: center;
  background-color: #21222A;
  height: 90px;
  padding: 20px 25px;
} */

header {
  position: sticky;
  top: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  background-color: #21222A;
  align-items: center;
  padding: 15px 40px;
}

.hero {
  display: flex;
}

.hero__link {
  align-items: center;
}

.hero__photo {
  width: 60px;
  height: 60px;
  align-self: center;
  margin-right: 0.8rem;
  margin-top: 0.7rem;
}

.hero__header {
  font-weight: 650;
  font-size: 2.1em;
  margin-bottom: 1.6rem;
  margin-left: 5px;
  margin-right: 5px;
  color: #fff
}

@media (min-width: 600px) {
  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 90px;
  }
  .hero {
    margin-right: auto;
  }
  .hero__photo {
    margin-right: 1rem;
  }
}

