/* preview */

.preview {
  max-width: 9rem;
  border-width: 0;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  border-radius: 8px;
  background: #213547;
}

.preview__image {
  width: 95%;
  height: auto;
  object-fit: cover;
  background: grey;
  border-radius: 8px;

}

.preview__info {
  margin-top: 0.5rem;
  width: 90%;
}

.preview__title {
  margin: 0;
  max-width: 195px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.preview__genres {
  max-width: 195px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.preview_hidden {
  display: none;
}

.preview_date {
  margin: 0;
}

.preview:hover {
  background: rgb(97, 112, 126);
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  border: 1px solid grey;
}

.preview__author {
  color: rgba(var(--color-dark), 0.4);
}

@media (min-width: 30rem) {
  .preview {
    max-width: 10rem;
    padding: 1rem;
  }
}

@media (min-width: 45rem) {
  .preview {
    max-width: 15rem;
    padding: 1rem;
  }
}

@media (prefers-color-scheme: light) {
  .preview {
    color: #213547;
    background-color: #ffffff;
  }
  .preview:hover {
    background: lightgrey;
  }
}