.show {
  max-width: 100%;
  margin: 0;
  padding: 20px;
}

.container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.show__sidebar {
  width: 90%;
  padding: 20px;
  border-radius: 8px;
  background-color: #121212;
}

.show__sidebar h3 {
  margin-bottom: 10px;
}

.show__sidebar ul {
  list-style: none;
  padding: 0;
}

.show__sidebar ul li {
  cursor: pointer;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 3px;
}

.show__sidebar ul li.selected {
  background-color: #007bff;
  color: white;
}

.content {
  flex: 1;
  padding: 20px;
  border-radius: 8px;
  background-color: #121212;
  margin-bottom: 2rem;
}

.header {
  margin-bottom: 20px;
}

.header img {
  max-width: 170px;
  margin-right: 20px;
  border-radius: 8px;
}

.header .info h1 {
  margin: 1rem 0;
}

.header .info p {
  margin: 0;
  font-size: 14px;
  color: #666;
}

.episodes .episode {
  margin-bottom: 15px;
}

.episodes .episode h3 {
  margin: 5px 0;
}

.episodes .episode p {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 14px;
  color: #666;
}

.episodes .episode audio {
  width: 100%;
}

@media (min-width: 60rem) {
  .container {
    flex-direction: row;
    align-items: normal;
  }
  .show__sidebar {
    width: 200px;
    margin-right: 20px;
    padding: 20px;
    border-radius: 8px;
  }
  .header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  .content {
    margin: 0;
  }
}

@media (prefers-color-scheme: light) {
  .content {
    background-color: #ffff;
  }
  .show__sidebar {
    background-color: #ffff;
  }
  button {
    background-color: #f9f9f9;
  }
}
