/* Sidebar.css */
.sidebar {
  position: fixed;
  top: 0;
  left: -250px; /* Start offscreen */
  width: 250px;
  height: 100%;
  background-color: #333;
  padding-top: 20px;
  transition: left 0.3s ease;
  z-index: 2; 
}

.sidebar.open {
  left: 0;
  border-right: solid #ffff 1px;
}

.sidebar nav {
  padding: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin-top: 3rem;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.sidebar .close-btn {
  background: #333;
  border: solid #ffff 1px;
  color: white;
  font-size: 20px;
  position: absolute;
  top: 33px;
  right: -10px;
  cursor: pointer;
}

.sidebar.open .close-btn {
  right: 10px;
}

.sidebar .close-btn:hover {
  border: solid black 1px;
}